<div class="app-container">

  <header class="app-header">
  </header>

  <main class="app-main">
    <div class="app-left-side">
      <div class="app-logo">
        <img class="app-logo-img" src="../assets/logo.png" alt="logo_image">
      </div>
      <div>
        Dziennik elektroniczny
      </div>
      <nav>
        <div>
          <button mat-button  mat-raised-button class="app-button" [routerLink]="['home']">Strona główna</button>
        </div>
        <div>
          <button mat-button  mat-raised-button class="app-button" [routerLink]="['students']">Lista uczniów</button>
        </div>
        <div>
          <button mat-button  mat-raised-button class="app-button" [routerLink]="['add-student-form']">Formularz rejestracyjny uczniów</button>
        </div>
      </nav>
    </div>
    <div class="app-right-side">
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>

  </main>

  <footer class="app-footer">
    <div class="app-left-side">
      Autor: <a href="mailto:aa@aa.aa">aa@aa.aa</a>
    </div>
    <div class="app-right-side">

    </div>
  </footer>

</div>
